.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  text-shadow: 2px 2px black;
}

h1.mainTitle {
  font-size: 48px;
  color: #8abfbc;
}

h1.dfaTitle {
  color: #ed5f7b;
}

h1.nfaTitle {
  color: #c46696;
}

h1.regexTitle {
  color: #b57db0;
}

h1.pdaTitle {
  color: #6f77a3;
}

h1.cfgTitle {
  color: #9a7db5;
}

h1.dnfaChartTitle {
  color: #cc8b8b;
}

h1.dnfaInput {
  color: #a292a8;
}

h1.regex {
  color: #8f8fa8;
}

h3 {
  text-align: center;
}

h3:hover {
  color: LightGray;
}

span {
  font-weight: bold;
}

input[type=text] {
  border: none;
  padding: 5px 5px;
  box-shadow: 5px 5px;
}

label{
  font-weight: bold;
  /*font-family: Arial;*/
  font-style: italic;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.buttonLink {
  padding: 20px;
  display: inline-block;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* background-color: #739e9c; */
  margin: auto;
  /* line-height: 30px; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.circle.main {
  background-color: #a0deda;
}

.circle.dfa {
  background-color: #ff9caf;
}

.circle.nfa {
  background-color: #e8a0c5;
}

.circle.regex {
  background-color: #e3aade;
}

.circle.cfg {
  background-color: #bfa9d4;
}

.circle.pda {
  background-color: #abb2d4;
}

.circle .box {
  width: 150px;
  margin: 0 auto;
}

.button {
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
  white-space: normal;
  text-shadow: 2px 2px gray;
}

.button.circle.main:hover{
  background-color: #8abfbc;
}

.button.circle.dfa:hover{
  background-color: #ed5f7b;
}

.button.circle.nfa:hover{
  background-color: #c46696;
}

.button.circle.regex:hover{
  background-color: #b57db0;
}

.button.circle.cfg:hover{
  background-color: #9a7db5;
}

.button.circle.pda:hover{
  background-color: #6f77a3;
}

.wrapper {
    text-align: center;
    justify-content: center;
}

.container {
    padding: 10px;
    margin: 0 auto;
    width:1250px;
}

/* .button {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  white-space: normal;
} */

.normalButton{
  padding: 75px 150px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.buttonDiv {
  width: 30%;
  height: 250px;
  padding-top: 10px;
}

.flexButton {
  height: 100%;
  width: 98%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.smallbox {
  width: 15px;
  height: 15px;
}

.mediumbox {
  width: 30px;
  height: 15px;
}

.inputBox {
  background-color: #fcd2d2;
  padding: 50px 20px;
  display: grid;
  width: 500px;
  grid-template-columns: 200px 250px;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
  justify-content: space-between;
}

.dfaBox{
  background-color: #f3e3fa;
  padding: 100px 10px;
  margin-left: auto;
  margin-right: auto;
}

.setBox {
  width: 500px;
}

.regexBox{
  background-color: #e3e3fa;
  padding: 100px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.regexBox{
  background-color: #e3e3fa;
  padding: 100px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.cfgBox{
  background-color: #e3e3fa;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.pdaBox {
  background-color: #f3e3fa;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.enterButton {
  border: none;
  padding: 5px 10px;
  margin: 10px 2px;
  cursor: pointer;
}

.biglabel{
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownOptions {
  position: absolute;
  background-color: #e7e7e7;
  width: 300px;
  text-align: left;
}

.dropdownOptions div {
  padding: 10px;
}

.dropdownOptions div:hover{
  background-color:  #8f8fa8;
}

.header {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: center;
  /* justify-content: flex-end; */
}

.header div {
  padding-left: 10px;
  padding-right: 10px;
}

.header div a {
  font-size: 20px;
  text-decoration: none;
}

.header div a:hover {
  color: LightGray;
}

.header.circle {
  padding: 0px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: LightGray;
}

.instructions {
  text-align: center;
  width: 500px;
  padding-bottom: 20px;
  margin: auto;
}
